@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    4530 Clingman Drive <br />
    Shreveport, LA 71105<br />
    <abbr title="Phone">P:</abbr>
    318.344.3266
</address>

<address>
    <strong>Personal Email:</strong> <a href="mailto:cjs2160@gmail.com">cjs2160@gmail.com<br />
    <strong>LSUS Email:</strong> <a href="mailto:SandersC22@lsus.edu">SandersC22@lsus.edu</a>
</address>
