@{
    ViewData["Title"] = "Home Page";
}
<h1>Users</h1>
@Html.ActionLink("Users", "Index", "Users")

<h1>Notes</h1>
@Html.ActionLink("Notes", "Index", "Notes")

<h1>Categories</h1>
@Html.ActionLink("Categories", "Index", "Categories")